.header {
    background-image: url(./images/brick.jpg);
    height: 200px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 4rem;
  }