.nav-tabs {
    background: #4b4b4b;
    width: auto; 
    height: auto; 
    margin: 0;
    padding: 0;
  }
  
  .nav-tabs a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }