.title {
    background-image: url(./images/brick.jpg);
    height: 160px;
  }
  
  .title h2 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
    color: whitesmoke;
    font-size: 3.5rem;
  }